* {
  font-family: "Rubik"; /* Через body не присваивается на button */
}

body {
  margin: 0;
  font-weight: 400;
  cursor: url(../images/Arrow.cur), auto;
}

h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: 500;
}

h1 {
  color: #0b132a;
  font-weight: 700;
  /* text-shadow */
  text-shadow: 2px 2px 4px #000000;
}

/* Header */

header {
  margin: 50px 150px;
  display: flex;
  justify-items: space-between;
  gap: 150px;
}

/* keyframe */
@keyframes header-logo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header__logo {
  animation: header-logo 3s infinite;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #4f5665;
  font-size: 16px;
}

.header__user {
  display: flex;
}

.user__signin {
  min-width: 75px;
  border: 0px solid;
  margin-right: 24px;
  color: #0b132a;
  font-size: 16px;
  background-color: transparent;
  font-weight: 500;
}

.user__signin:hover {
  border-radius: 50px;
  border: 1px solid;
  color: #0b132a;
}

.user__signup {
  min-width: 150px;
  border-radius: 50px;
  border: 1px solid #f53855;
  color: #f53855;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

main {
  margin: 0;
  min-width: 1440px;
  padding-top: 50px;
}

/* First section */
.main__section-first {
  display: flex;
  justify-content: flex-start;
}

.section-first__block-first {
  width: 555px;
  margin-left: 150px;
  margin-right: 40px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px; /* 140% */
  margin: 0;
}

.section-first__block-first p {
  color: #4f5665;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  margin: 20px auto;
}

.section-first__get-started {
  min-width: 250px;
  min-height: 60px;
  border-radius: 10px;
  background: #f53838;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
  border: 0px;
  margin-top: 30px;
  /* transition */
  transition: width 0.3s ease-in-out;
}

.section-first__get-started:hover {
  background: chartreuse;
}

/* Statistics */
.main__statistics {
  margin-left: 150px;
  width: 1140px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 37px 0;
}

.stasistics__block-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 125.573px;
}

.stasistics__block-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 125.573px;
  border-left: 2px solid #eeeff2;
}

.stasistics__block-server {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 125.573px;
  border-left: 2px solid #eeeff2;
}

.statistics__image {
  width: 24px;
  border-radius: 50%;
  background: #ffecec;
  margin: 16px 16px;
  padding: 16px 16px;
}

.statistics__count {
  color: #0b132a;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px; /* 120% */
}

.statistics__name {
  color: #4f5665;
  font-size: 20px;
  line-height: 30px; /* 150% */
}

.main__section-second {
  margin-left: 184.5px;
  margin-bottom: 95px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.section-second__text-block {
  width: 428px;
  margin-left: 168.5px;
}

h2 {
  color: #0b132a;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  /* filter */
  filter: blur(1px) brightness(50%);
}

.section-second__text-block p {
  color: #4f5665;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
}

.section-second__text-block ul {
  padding: 0;
}

.section-second__text-block ul li {
  color: #4f5665;
  font-size: 14px;
  line-height: 30px; /* 214.286% */
  padding: 3px 0;
  list-style: none;
}

.section-second__text-block ul li::before {
  content: url(../images/main/section_2/check.svg);
  position: relative;
  top: 7px;
  right: 4px;
}

.main__section-third {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  margin-top: 80px;
  margin-bottom: 20px;
}

.main__section-third p {
  color: #4f5665;
  text-align: center;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  width: 555px;
  margin: 0;
}

.section-third__tariff {
  display: flex;
  justify-content: center;
}

.section-third__plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
  margin: 60px 25px;
  padding-top: 79px;
  padding-bottom: 50px;
  /* box-shadow */
  box-shadow: 5px 5px 20px #4f5665;
}

.section-third__plans:nth-child(3) {
  border: 2px solid #f53838;
}

.section-third__plans-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-third__plans p {
  color: #0b132a;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 30px;
}

.section-third__price {
  font-size: 25px;
}

.section-third__price span {
  color: #4f5665;
  font-size: 25px;
  line-height: 30px;
}

.section-third__plans ul {
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-third__plans ul li {
  color: #4f5665;
  font-size: 14px;
  line-height: 30px; /* 214.286% */
  list-style-type: none;
  margin-bottom: 10px;
}

.section-third__plans ul li::before {
  content: url(../images/main/section_3/check.svg);
  position: relative;
  top: 7px;
  right: 15px;
}

.section-third__select {
  width: 177.876px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f53838;
  color: #f53838;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-top: 20px;
}

.section-third__plans:nth-child(3) .section-third__select {
  background: #f53838;
  color: #fff;
}

h4 {
  text-align: center;
  font-size: 35px;
  line-height: 50px; /* 142.857% */
  margin-top: 90px;
  margin-bottom: 20px;
}

.section-third__span-LaslesVPN {
  font-weight: 500;
}

.section-third__map-image {
  margin-top: 155px;
}

.section-third__apps-image {
  display: flex;
  justify-content: space-between;
  gap: 47px;
  align-items: center;
}

.main__section-fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  overflow: hidden;
}

h5 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  margin-top: 50px;
  margin-bottom: 0;
}

.main__section-fourth > p {
  color: #4f5665;
  text-align: center;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  margin-top: 20px;
}

.section-fourth__reviews {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  margin-left: 150px;
  margin-top: 60px;
}

.section-fourth__reviews-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.section-fourth__reviews-block:nth-child(1) {
  border: 2px solid #f53838;
}

.section-fourth__profile-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.section-fourth__profile-and-rating {
  display: flex;
  justify-content: space-between;
}

.section-fourth__rating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-right: 30px;
}

.section-fourth__profile-photo {
  width: 50px;
  height: 50px;
  margin: 30px 20px 0px 30px;
}
.section-fourth__profile-name {
  color: #0b132a;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin: 0px;
}

.section-fourth__profile-country {
  color: #4f5665;
  font-size: 14px;
  line-height: 30px; /* 214.286% */
}

.section-fourth__reviews-text {
  width: 340px;
  color: #0b132a;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  margin: 20px 30px 30px 30px;
}

.section-fourth__slides {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.section-fourth__count-comments {
  display: flex;
  justify-content: space-between;
  width: 135px;
  height: 15px;
  margin-left: 150px;
}

.section-fourth__span-red-count {
  width: 45px;
  background-color: #f53838;
  border-radius: 100px/100px;
}

.section-fourth__span-count {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dde0e4;
}

.section-fourth__symbols {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 150px;
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px #f53838 solid;
  color: #f53838;
}

.material-symbols-outlined:nth-child(2) {
  color: #fff;
  background-color: #f53838;
}

.section-subscribe {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-subscribe__block {
  background-color: #fff;
  width: 1140px;
  height: 230px;
  display: flex;
  justify-content: space-between;
  gap: 378px;
  align-items: center;
  position: relative;
  top: 125px;
  border-radius: 10px;
}
.section-fourth__subscribe-text {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h6 {
  font-size: 35px;
  line-height: 45px; /* 128.571% */
  margin-top: 58px;
  margin-bottom: 0;
}

.section-subscribe__block p {
  color: #4f5665;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  margin-top: 20px;
  margin-bottom: 58px;
}

.section-subscribe__button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  background: #f53838;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
  margin-right: 70px;
}

footer {
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.footer__another-list {
  display: flex;
  justify-content: space-between;
  gap: 126px;
  margin: 186px 150px 100px auto;
}

.footer__about-block {
  margin-top: 186px;
  margin-left: 150px;
}

.footer__text-about {
  color: #4f5665;
  font-size: 16px;
}

.footer__text-about span {
  font-weight: 500;
}

.footer__text-corporation {
  color: #afb5c0;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  margin-top: -85px;
}

.footer__text-corporation span {
  font-weight: 500;
}

.footer__sublist {
  color: #0b132a;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 0;
}
.footer__another-list ul {
  margin: 0;
}

.footer__another-list ul li {
  color: #4f5665;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  list-style: none;
}

.footer__social-media {
  display: flex;
  justify-content: flex-start;
  width: 210px;
  position: relative;
  right: 10px;
  bottom: 40px;
}
