* {
  font-family: "Rubik"; /* Через body не присваивается на button */
}

body {
  margin: 0;
  font-weight: 400;
  cursor: url(../images/Arrow.cur), auto;
}

h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: 500;
}

h1 {
  color: #0b132a;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
}
